@import url('https://googleapis.com');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.header {
    display: grid;
    height: 150px;
    grid-column: 2 / 3;
    grid-row: 1;
}

.sidebar {
    margin-right: 40px;
    padding: 20px;
    height: 100%;
    display: grid;
    grid-column: 1;
    grid-template-rows: auto;
    row-gap: 40px;
    background-color: #357EC7;
}

.main-content {
    grid-column: 2;
    
}

.top-header-grid {
    display: grid;
    grid-row: 1;
    grid-template-columns: 50px 2fr 1fr;
    gap: 10px;
    width: 100%;
}

.bottom-header-grid {
    display: grid;
    grid-row: 2;
    grid-template-columns: 100px 2fr 1fr;
    align-items: center;
    width: 100%;
}

.right-top-grid {
    display: grid;
    grid-column: 3;
    grid-template-columns: 100px 100px 100px;
} 

.top-button-grid {
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-card {
    display: grid;
    grid-template-rows: auto;
}

.card-icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}

.card-icons-container > * {
    height: 15px;
}

.first-item-sidebar, .second-item-sidebar, .third-item-sidebar {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.third-item-sidebar {
    grid-template-rows: repeat(3, 50px);
}

.dashboard-icon {
    height: 50px;
    grid-column: 1;
}

.dashboard-text {
    font-size: 30px;
    grid-column: 2;
    color: white;
}

.second-item-sidebar > img {
    height: 35px;
    grid-column: 1;
}

.third-item-sidebar > img {
    height: 35px;
    grid-column: 1;
}

.sidebar-text {
    font-size: 24px;
    grid-column: 2;
    color: white;
}

.search-icon {
    height: 25px;
    grid-column: 1;
}

.notification-icon {
    height: 25px;
}

.cat-icon {
    height: 30px;
}

.cat-icon-big {
    height: 50px;
    width: 50px;
    grid-column: 1;
}

.admin-welcome-text {
    grid-column: 2;
}

.new-button, .upload-button, .share-button {
    background-color: lightblue;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 32px;
}

.search-bar {
    background-color: #f1f1f1;
    border-radius: 20px; 
    border: none;
    height: 25px;
    width: 500px;
    justify-self: start;
    grid-column: 2;
}